* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%; }

#admin-body {
  width: 100%;
  border-radius: 0; }
  #admin-body header, #admin-body #admin-footer {
    width: 100%;
    border-radius: 0; }
  #admin-body #admin-main {
    margin: 0 auto;
    width: 100%;
    border-radius: 0;
    overflow: auto;
    background-color: aliceblue; }
    #admin-body #admin-main #admin-table {
      width: 100%;
      margin: 0 auto;
      font-size: 65%;
      border-collapse: collapse; }
      #admin-body #admin-main #admin-table tr:nth-child(even) {
        background-color: rgba(47, 204, 243, 0.096); }
      #admin-body #admin-main #admin-table th {
        margin: 0 auto;
        text-align: left;
        border-bottom: 5px dotted rgba(188, 143, 143, 0.151); }
      #admin-body #admin-main #admin-table td {
        padding: 2px;
        text-align: left;
        border-bottom: 1px dotted rgba(188, 143, 143, 0.123);
        margin: 0 auto; }

body {
  display: grid;
  margin: 0 auto;
  font-family: "Times New Roman", Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  line-height: 1.5;
  width: 80%;
  grid-template-columns: repeat(auto 1fr);
  grid-template-areas: "header" "main" "footer";
  grid-row-gap: 1em;
  text-align: center; }

header {
  grid-area: header;
  justify-content: center;
  margin: 0 auto;
  background-color: #008080;
  width: 90%;
  border-radius: 10px; }
  header nav {
    text-align: right;
    margin-top: 30px; }
    header nav a {
      font-size: 110%;
      color: white;
      margin: 10px;
      display: inline-block;
      padding: 5px;
      width: 100px;
      text-align: center; }
    header nav a:hover {
      background-color: orange;
      border-radius: 5px;
      text-align: center; }

main {
  grid-area: main;
  width: 90%;
  margin: 0 auto;
  background-color: #DCDCDC;
  border-radius: 10px; }
  main a {
    font-size: 110%;
    color: white;
    margin: 10px;
    display: inline-block;
    padding: 5px;
    width: 25%;
    text-align: center;
    background-color: #008080;
    border-radius: 10%; }
  main a:hover {
    background-color: orange;
    border-radius: 5px;
    text-align: center;
    border-radius: 10%; }
  main table {
    width: 75%;
    margin: 0 auto;
    font-size: 85%;
    border-bottom: 1px dotted rosybrown;
    padding: 8px; }
    main table tr th {
      text-align: left;
      padding: 5px; }
    main table tr td {
      padding: 5px;
      text-align: right; }
  main form {
    display: grid;
    grid-row-gap: 1.5em;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    overflow: auto;
    width: 100%;
    border-radius: 10px; }
    main form h2 {
      margin-top: 25px; }
    main form input {
      border-radius: 5px;
      padding: 10px 2px;
      margin: 3px;
      width: 50%; }
    main form button {
      background-color: #008080;
      color: white;
      font-size: 125%;
      padding: 10px;
      width: 30%;
      border-radius: 15px;
      text-align: center;
      margin-bottom: 20px; }
    main form button:hover {
      background-color: orange;
      color: white;
      font-size: 125%;
      padding: 10px;
      width: 30%;
      border-radius: 15px;
      text-align: center;
      margin-bottom: 20px; }
    main form fieldset {
      margin: 15px;
      border: none;
      border-radius: 10px;
      text-align: left; }
      main form fieldset legend {
        font-weight: bold;
        display: table; }
      main form fieldset input, main form fieldset select {
        border-radius: 5px;
        padding: 10px 2px;
        margin: 3px;
        width: 50%; }
      main form fieldset input[type=checkbox], main form fieldset input[type=radio] {
        display: inline-block;
        padding: 15px;
        width: 25px;
        height: 25px;
        color: white;
        margin-right: 4px; }
      main form fieldset div.ui-datepicker {
        font-size: 62.5%; }

footer {
  grid-area: footer;
  margin: 0 auto;
  background-color: #008080;
  color: white;
  width: 90%;
  border-radius: 10px;
  bottom: 0; }
  footer p, footer a {
    margin-top: 40px;
    color: white; }
  footer a:after {
    content: '';
    background: url("../bilder/halden_havnehotell_ikon.png");
    background-size: cover;
    position: absolute;
    width: 35px;
    height: 35px;
    margin: 10px; }

#logo {
  max-width: 60%; }

@media screen and (max-width: 736px) {
  body {
    width: 100%;
    background-color: black;
    margin: 0 auto; }

  header, footer, main {
    width: 100%;
    margin: 0 auto; }

  form {
    width: 100%;
    margin: 0 auto; }
    form input, form select {
      display: block;
      font-size: 70%; }
    form fieldset {
      margin: 5px;
      width: 100%; }
      form fieldset legend {
        width: 100%; }
      form fieldset label {
        display: block;
        font-size: 80%;
        width: 100%; }
      form fieldset input, form fieldset select, form fieldset span {
        display: block;
        font-size: 70%; }
      form fieldset input[type=checkbox], form fieldset input[type=radio] {
        width: 100%;
        padding: 15px;
        width: 10px;
        height: 10px; } }
#room_number_e, #room_number_d,
#room_number_s, #room_number_b,
#parking-place {
  display: none;
  clear: both; }

/*# sourceMappingURL=hh-stil.css.map */
